<div class="w-full h-screen flex justify-center items-center flex-col">
    <h1 class="font-medium text-7xl">{{code}}</h1>
    <h2 class="mt-10 text-3xl">{{description}}</h2>
    <a class="mt-32 text-blue-600 text-s hover:text-blue-500 hover:cursor-pointer"> Назад к чатам</a>
</div>