<div class="w-full h-screen flex items-center">
    <img class="-ml-20 w-4/6 object-cover" src={{src}}>
    <div class="-ml-20 flex flex-col">
        <h1 class="font-medium text-7xl">{{reaction}}</h1>
        <h2 class="mt-10 text-4xl">{{description}}</h2>
        <a href="./chats.hbs" class="mt-32 text-amber-700 text-3xl hover:text-amber-600 hover:cursor-pointer"> Назад к чатам</a>
    </div>
</div>