<ul>
    <li>
        <a href="./login.hbs">Login</a>
    </li>
    <li>
        <a href="./signup.hbs">Register</a>
    </li>
    <li>
        <a href="./chats.hbs">Chats</a>
    </li>
    <li>
        <a href="./user.hbs">User</a>
    </li>
    <li>
        <a href="./user_edit.hbs">User edit</a>
    </li>
    <li>
        <a href="./password_edit.hbs">Password edit</a>
    </li>
</ul>
