---
prev_href: ./user.hbs
inputs:
- text: Старый пароль
  name: oldPassword
  type: password

- text: Новый парол
  name: newPassword
  type: password

- text: Повторите новый пароль
  name: newPasswordAgain
  type: password

buttons: 
- variant: bg-amber-700 text-stone-50 hover:bg-amber-600 hover:text-stone-100
  text: Сохранить
  href: ./user.hbs
---

{{!< main}}

<div class="user_page ">
    {{> "prev_page_button/prev_page_button"}}
    <div class="user_container">
        <div class="user_avatar">
        </div>
        <div class="user_inputs-container">
          <ul>
            {{#each inputs}}
              <li>
                {{> "user_input/user_input"}}
              </li>
            {{/each}}
          </ul>
        </div>
        {{#each buttons}}
            <div class="user_buttons-container">
                {{> "button/button"}}
            </div>
        {{/each}}
    </div>
</div>
