---
title: Регистрация
inputs: 
- text: Почта
  name: email
  type: text

- text: Логин
  name: login
  type: text

- text: Имя
  name: first_name
  type: text

- text: Фамилия
  name: second_name
  type: text

- text: Телефон
  name: phone
  type: text

- text: Пароль
  name: password
  type: password

- text: Пароль (ещё раз)
  name: password_again
  type: password

buttons: 
- variant: bg-blue-600 text-orange-100 hover:bg-blue-500
  text: Зарегистрироваться
  href: ./chats.hbs

- variant: bg-inherit text-blue-600 hover:bg-slate-200
  text: Войти
  href: ./login.hbs
---

{{!< main}}
<div class="auth_container">
    <div class="auth_title-container">
        <h1 class="auth_title">{{title}}</h1>
    </div>
    <div class="auth_inputs-container">
        {{# each inputs}}
            {{> "auth_input/auth_input"}}
        {{/each}}
    </div>
    <div class="auth_buttons-container">
        {{# each buttons}}
            {{> "button/button"}}
        {{/each}}
    </div>
</div>