{{!< main}}

<div class="w-full flex">
    <div class="w-20 bg-gray-50 h-screen flex justify-center items-center border-r-2 border-gray-100">
        <button class="bg-blue-600 text-yellow-50 w-10 h-10 rounded-full input-2 hover:bg-blue-500"><-</button>
    </div>
    <div class="flex w-full flex-col items-center">
        <div class="w-36 h-36 bg-slate-200 rounded-full mt-16">
        </div>
        <div class="mt-16 w-1/2">
            <div class="flex justify-between border-b border-slate-200 py-2.5">
                <label for="email">Почта</label>
                <input type="email" name="email" required>
            </div>
            <div class="flex justify-between border-b border-slate-200 py-2.5">
                <label for="login">Логин</label>
                <input type="text" name="login" required>
            </div>
            <div class="flex justify-between border-b border-slate-200 py-2.5">
                <label for="first_name">Имя</label>
                <input type="text" name="first_name" required>
            </div>
            <div class="flex justify-between border-b border-slate-200 py-2.5">
                <label for="second_name">Фамилия</label>
                <input type="text" name="second_name" required>
            </div>
            <div class="flex justify-between border-b border-slate-200 py-2.5">
                <label for="phone">Телефон</label>
                <input type="text" name="phone" required>
            </div>
        </div>
        <button class="flex justify-center items-center 0 w-72 h-9 rounded m-auto bg-blue-600 text-orange-100 hover:bg-blue-500">Сохранить</button>
    </div>
</div>
