---
prev_href: ./user.hbs
inputs: 
- text: Почта
  name: email
  type: text

- text: Логин
  name: login
  type: text

- text: Имя
  name: first_name
  type: text

- text: Фамилия
  name: second_name
  type: text

- text: Телефон
  name: phone
  type: text
buttons:
- text: Сохранить
  variant: bg-blue-600 text-orange-100 hover:bg-blue-500
  href: ./user.hbs
---

{{!< main}}

<div class="user_page">
    {{> "prev_page_button/prev_page_button"}}
    <div class="user_container">
        <div class="user_avatar">
        </div>
        <div class="user_inputs-container">
            {{#each inputs}}
                {{> "user_input/user_input"}}
            {{/each}}
        </div>
        {{#each buttons}}
            <div class="user_buttons-container">
                {{> "button/button"}}
            </div>
        {{/each}}
    </div>
</div>
