<div class="w-20 bg-gray-50 h-screen flex justify-center items-center border-r-2 border-gray-100">
    <a href={{prev_href}}>
        <button class="flex justify-center items-center bg-blue-600 text-yellow-50 w-10 h-10 rounded-full p-2 hover:bg-blue-500"><img class="w-4 h-4" src="../assets/arrow-left.svg"></img></button>
    </a>
</div>